@model IEnumerable<WebApplication1.Models.Product>
@if (Model != null)
{
    <section class="categories container section">
        <h3 class="section__title"><span>Popular</span> Categories</h3>
        <div class="categories__container swiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <a href="/Customer/ShopByCategory?category=@item.productCategory" class="category__item swiper-slide">
                        <img src="@item.productThumbnailURL" alt="@item.productCategory" class="category__img" />
                        <h3 class="category__title">@item.productCategory</h3>
                    </a>
                }
            </div>

            <div class="swiper-button-prev">
                <i class="fi fi-rs-angle-left"></i>
            </div>
            <div class="swiper-button-next">
                <i class="fi fi-rs-angle-right"></i>
            </div>
        </div>
    </section>
}
else
{
    <p>No categories found.</p>
}
