<body>
    <!--=============== MAIN ===============-->
    <main class="main">
        <!--=============== BREADCRUMB ===============-->
        <section class="breadcrumb">
            <ul class="breadcrumb__list flex container">
                <li><a href="index.html" class="breadcrumb__link">Home</a></li>
                <li><span class="breadcrumb__link">></span></li>
                <li><span class="breadcrumb__link">Login / Register</span></li>
            </ul>
        </section>

        <!--=============== Forgot password ===============-->
        <section class="login-register1 section--lg">
            <div class="forgot">
                <h3 class="forg">Forgot Password?</h3>
                <h6 class="for">Enter your email to reset password</h6>
                <form class="forgot_foam">
                    <input type="email"
                           placeholder="Your Email"
                           class="form__input" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>