@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<style>
    .forgot_password{
        height: 30%;
    }
</style>
<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
            <li><a asp-page="/Index" class="breadcrumb__link">Home</a></li>
            <li><span class="breadcrumb__link">></span></li>
            <li><span class="breadcrumb__link">Forgot Password</span></li>
        </ul>
    </section>

    <!--=============== FORGOT PASSWORD ===============-->
    <section class="login-register1 section--lg">
        <div class="register">
            <h3 class="section__title">Forgot Password</h3>
            <form method="post" class="form grid forgot_password">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Input.Email"
                       type="email"
                       placeholder="Your Email"
                       class="form__input"
                       autocomplete="username"
                       aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="form__btn">
                    <button type="submit" class="btn_signup">Reset Password</button>
                </div>
            </form>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}